gl_sc_swr/Debug/
gl_sc_swr/DebugSW/
gl_sc_swr/Release/
gl_sc_swr/ReleaseSW/
gl_sc_swr/x64/
main_app/.vs/main_app_2013/v15/
main_app/bin/
*.obj
main_app/ReleaseSW/
main_app/Release/
main_app/z_test_out/
main_app/z_test_out2/
z_compare_prog/x64/
z_compare_prog/Release/
z_compare_prog/z_compare_prog_2013.v12.suo
z_compare_prog/z_compare_prog_2013.sdf
main_app/zgl_log.txt
main_app/.vs/main_app_2013/v14/.suo
main_app/.vs/main_app/v14/.suo
vsgl3/Release/
main_app/x64/
main_app/main_app_2013.VC.db
main_app/main_app_2013.VC.VC.opendb
gl_sc_swr/.vs/gl_sc_swr/v14/.suo
main_app/stdout.txt
gl_sc_swr/gl_sc_swr_2013.vcxproj.user
